.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;
  width: 100% !important;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.contact-form .MuiButton-root {
  float: right;
  background-color: var(--accent-strong);
  color: var(--text-light);
  font-weight: bold;
}

.contact-form .MuiButton-root:hover {
  background-color: var(--accent);
  color: var(--text-light);
}

.contact-form .MuiTextField-root {
  .MuiInputLabel-root {
    color: var(--text-muted-dark);
  }

  .MuiInputLabel-root.Mui-focused {
    color: var(--accent);
  }

  .MuiInputBase-input,
  .MuiInputBase-multiline {
    color: var(--text-light);
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-dark);
  }

  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--accent);
  }

  & .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--accent-strong);
  }
}

.MuiInputLabel-root.Mui-error {
  color: #f44336;
}
.MuiOutlinedInput-notchedOutline.Mui-error {
  border-color: #f44336;
}

.light-mode {
  .MuiInputLabel-root.Mui-error {
    color: #f44336;
  }
  .MuiOutlinedInput-notchedOutline.Mui-error {
    border-color: #f44336;
  }
}
.contact-form .MuiButton-root {
  background-color: var(--accent-strong);
  color: var(--text-light) !important;
}
.contact-form .MuiButton-root:hover {
  background-color: var(--accent);
}

.contact-form .MuiTextField-root {
  .MuiInputLabel-root {
    color: var(--text-muted-light);
  }
  .MuiInputLabel-root.Mui-focused {
    color: var(--accent-strong);
  }

  .MuiInputBase-input,
  .MuiInputBase-multiline {
    color: var(--text-dark);
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-light);
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--text-dark);
  }
  & .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--accent-strong);
  }
}

@media screen {
  @media (max-width: 600px) {
    .form-flex {
      flex-direction: column;
    }
  }
}
